{% extends "layout.html" %}
{% block title %}World Mods{% endblock %}

{% block content %}

<h2 class="mb-3">{{ world.name }} - Mods</h2>
<p class="text-muted">Add a new mod or delete existing ones.</p>

<div class="row g-3">
    <div class="col-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center gap-2">
                    <span class="fw-semibold"><i class="bi bi-gear me-2"></i></span>
                </div>
                <div class="d-flex align-items-center gap-2">
                    <button class="btn btn-outline-primary btn-sm" @click="openAddModModal">
                        <i class="bi bi-plus-lg me-1"></i>
                        Add Mod
                    </button>
                </div>
            </div>

            <div class="card-body p-0">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" v-for="m in world_mods" v-cloak>
                        <div class="row-loading-overlay" v-if="m.pending">
                            <div class="spinner-border text-primary" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-start gap-3">
                            <div>
                                <div class="fw-semibold">
                                    <span v-text="m.name"></span>
                                </div>
                                <div class="text-muted small">Added at: <strong v-text="$formatLocalDate(m.added_at)"></strong></div>
                            </div>
                            <div class="d-flex flex-wrap gap-2 list-item-actions">
                                <button class="btn btn-sm btn-outline-danger" @click="deleteMod(m)" title="Delete">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="text-muted text-center m-3" v-if="world_mods !== null && world_mods.length === 0" v-cloak>
                    No mods added yet. Click the "<i class="bi bi-plus-lg me-1"></i>Add Mod" button to create one.
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add Mod Modal -->
<div class="modal fade" ref="add_mod_modal" tabindex="-1" aria-labelledby="addModModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form action="#" autocomplete="off" @submit.prevent="addMod">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModModalLabel"><i class="bi bi-magic me-2"></i>Add Mod</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row g-3">
                        <div class="col-12">
                            <div class="col-12">
                                <label class="form-label" for="mod_file">Mod File (JAR)</label>
                                <input class="form-control" ref="mod_file" id="mod_file" type="file" accept=".jar" @change="handleModFileUpload($event)">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary" :disabled="!add_mod_form || adding_mod">
                        <div class="spinner-border spinner-border-sm me-1" v-if="adding_mod" v-cloak></div>
                        <i class="bi bi-check2-circle me-1" v-else></i>
                        Add Mod
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script src="/static/js/pages/world_mods.js?v={{ build_version }}"></script>
{% endblock %}